html {
  background-color: #fff
  font-family: Helvetica Neue, Helvetica, STHeiTi, Arial, sans-serif
  font-size: 20px
}

ul, li {
  list-style: none;
}

a, a:hover {
  color: #323232;
  text-decoration: none
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #323232;
  background: #f7f7f7;
  margin: 0 auto;
  max-width: 750px;
  min-height: 100vh;
}

input {
  -webkit-appearance: none;
  resize: none;
  border: 0 none;
}

em, i {
  font-style: normal;
}

strong, b, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  display: block
  width: 100%;
}

textarea {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

input, textarea {
  outline: none
}
